<div class="row">
  {% for member in site.data.members %}
  <div class="col-4">
    <ul class="list-unstyled">
      {%- if member.name -%}
      <li>{{ member.name }}</li>
      {%- endif -%} {%- if member.site_name and member.site_url -%}
      <li>
        <a href="https://{{ member.site_url| cgi_escape | escape }}">
          <span>{{ member.site_name| escape }}</span></a
        >
      </li>
      {%- endif -%}
      <li>
        {%- if member.facebook_username -%}
        <a
          href="https://www.facebook.com/{{ member.facebook_username| cgi_escape | escape }}"
          title="Follow {{ member.name }} on Facebook"
        >
          <i class="bi bi-facebook"></i>
        </a>
        {%- endif -%} {%- if member.github_username -%}
        <a
          href="https://github.com/{{ member.github_username| cgi_escape | escape }}"
          title="Follow {{ member.name }} on GitHub"
        >
          <i class="bi bi-github"></i>
        </a>
        {%- endif -%} {%- if member.instagram_username -%}
        <a
          href="https://instagram.com/{{ member.instagram_username| cgi_escape | escape }}"
          title="Follow {{ member.name }} on Instagram"
        >
          <i class="bi bi-instagram"></i>
        </a>
        {%- endif -%} {%- if member.mastodon_username and
        member.mastodon_instance -%}
        <a
          href="https://{{ member.mastodon_instance| cgi_escape | escape}}/@{{member.mastodon_username}}"
          title="Follow {{ member.name }} on Mastodon"
        >
          <i class="bi bi-mastodon"></i>
        </a>
        {%- endif -%} {%- if member.youtube_username -%}
        <a
          href="https://youtube.com/{{ member.youtube_username| cgi_escape | escape }}"
          title="Follow {{ member.name }} on YouTube"
        >
          <i class="bi bi-youtube"></i>
        </a>
        {%- endif -%}
      </li>
    </ul>
  </div>
  {% endfor %}
</div>
