---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footer-col-1 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
}

.footer-col-3 {
  width: -webkit-calc(33% - (30px / 2));
  width: calc(33% - (30px / 2));
}

.main-video {
  width: -webkit-calc(100% - (110px / 2));
  width: calc(100% - (110px / 2));
}